<script setup></script>

<template>
  <header class="text-center mb-3 mt-4">
    <router-link to="/">Home page</router-link>
    <router-link to="/about">About page</router-link>
  </header>
  <main class="text-center">
    <router-view></router-view>
  </main>
</template>
