@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&subset=latin-ext&display=swap');

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: rgb(253, 253, 253);
  min-height: 100vh;
}

a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: underline;
  color: #000;
}

// form styles
.sector {
  max-width: 430px;
  display: block;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #e8ebf3;
  &--wide {
    max-width: 650px;
  }
}

.form {
  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #504e70;
    margin-bottom: 24px;
  }
  &__element {
    margin-bottom: 20px;
  }
  &__label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  &__input {
    height: 40px;
    border: 1px solid #e8ebf3;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 16px;
    &--textarea {
      height: 100px;
      resize: none;
    }
  }
  &__submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    background-color: #6db460;
    color: #fff;
    transition: all .3s;
    margin: 18px 0;
    &:hover, &:active {
      color: #fff;
    }
  }
  &__error {
    display: inline-block;
    background-color: #f1352e;
    color: #fff;
    border-radius: 3px;
    padding: 4px 7px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
  }
  &__success {
    display: inline-block;
    background-color: #6db460;
    color: #fff;
    border-radius: 3px;
    padding: 4px 7px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 14px;
  }
  &__link {
    color: #504e70;
    &:hover, &:active {
      color: #504e70;
    }
  }
}

.input-error {
  border: 2px solid #f1352e;
}

.navbar-nav {
  flex-direction: row;
}

.disabled-element {
  opacity: .5;
  cursor: not-allowed;
}

.card {
  max-width: 600px;
  margin: 0 auto;
}

.task {
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #e8ebf3;
  text-align: left;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__name {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #504e70;
    margin-bottom: 10px;
  }
  &__description {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #504e70;
    margin-bottom: 20px;
  }
}