<script setup></script>

<template>
  <div>
    <section class="error text-center mt-5">
      <div class="container">
        <h2 class="error__title">404</h2>
        <p class="error__text">Page not found</p>
        <div class="mt-5">
          <router-link to="/" class="btn btn-success">Home page</router-link>
        </div>
      </div>
    </section>
  </div>
</template>


